
<div class="container">

    <h4>Internal server error</h4>
    @if (error) 
    {
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">Note: if you are seeing this error then Angular is not to blame</p>
        <p>What to do next?</p>
        <ol>
            <li>Cry about it to Ryan</li>
            <li>Check the network tab in your browser</li>
            <li>Buy another Udemy course</li>
            <li>Sub to Prime on YT and never learn anything</li>
            <li>Order a mocha latte</li>
        </ol>
    }
</div>