ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px

}

.list-text {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}