.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-divider {
    background-color: rgb(68,217,232);
}

.dropdown-menu {
    border-color: rgb(68,217,232);
    border-style: solid;
    border-top-style: none;
    border-width: 0.5px;
}

.dropdown-item:hover {
    color: #e8e8e8;
    
}

.nav-link {
    color: rgb(68,217,232);
}

.nav-link:hover {
    color: #e8e8e8
}

.nav-link-active {
    color: #ea39b8
}

.navbar-brand {
    color: #ea39b8
}
